.btn-disabled {
  color red
}

.btn-enabled {
  color blue
}

.flex {
  display flex
}

.flex-box1 {
  display flex
}

.box {
  padding 5px
  background cornflowerblue
}

.mr20 {
  margin-right 20px
}

.ml20 {
  margin-left 20px
}

.flex-grow-1 {
  flex-grow 1
}

.flex-grow-2 {
  flex-grow 2
}

.align-item-center {
  height 50px
  border 1px solid
  align-items flex-start
}

.align-self-end {
  align-self flex-end
}

.clamp-box1 {
  font-size clamp(12px, 2.5vw, 50px)
}